*{
	margin:0;
	padding:0;

}

a{
	text-decoration:none;
	color:#fff
}

body{
	background-color:#008080;
	font-family:verdana;
	font-size:100%;
}

.conteiner{
	margin:auto;
	width:800px;
	margin-top:200px;
	padding:200px;
}

#contents {  	
	margin:auto;
	width: 400px;
	margin-top:200px;	
	background: #9FC; 
	padding:100px; 	
	
}   

nav{
	width:300px;
	max-height:500;
	background-color:#008b8b;
	float:left;
	box-sizing:border-box;
	padding:20px;
}

section{
	width:500px;
	max-height:auto;
	margin-left:20px;
	float:left;
	background-color:#48d1cc;
	box-sizing:border-box;
	padding-left:20px;

}

ul.menu{
	list-style-type:none;
}

ul.menu li{
	width:250px;
	height:50px;
	line-height:50px;
	background-color:#48d1cc;
	color:#fff;
	margin-top:10px;
	box-sizing:border-box;
    padding-left:20px;
	
}

.btn{
	width:70px;
	height:50px;
	border:5px solid #ddd;
}

.campo{
	width:300px;
	height:20px;
	border:0px solid #ddd;
	margin-top:0px;
	margin-bottom:0px;
}
article{
	width:75%;
	box-sizing:border-box;
	padding:10px;
	background-color:#d6d5d5;
	margin-bottom:5px;
}